body{
    font-size: 40px;
    color: #575757;
}
section{
    display: flex;
}
.delicious-color{
   background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.top-font{
    padding-top: 160px;
    padding-left:  160px;
}
p{
    font-size: 30px;
    padding-left: 160px;
}
.food-pic{
    margin-top: 140px;
    margin-left: 140px ;
}
.order-button{
    font-size: 20px;
    margin-left: 160px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    background-image: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%) ;
    
}